.main-title{
    font-family: Press+Start+2P, sans-serif;
    color: #F25A70;
    font-size: 40px;
    padding: 0px;   
}
.main-title.-second {
     color: #FFF;
    text-align: center;
}
.main-title.-third {
    background-color: #7C5E99 ;
    color: #FFF;
    text-align: center;
}